:root {
  --sidebar-gradient: linear-gradient(178.07deg, #ffffff 0.25%, #3a9eba 15.98%);
  --primary: #3a9eba;
  --main-gradient: linear-gradient(312.49deg, #3a9eba 10.15%, #79c8de 91.85%);
  --main-gradient-reverse: linear-gradient(130deg, #3a9eba 0%, #79c8de 41.85%);
  --lightblue-gradient: linear-gradient(
    156.09deg,
    #9de8fc -9.74%,
    #ffffff 111.18%
  );
}
