//////////////////////////////////////
///// Clean
//////////////////////////////////////
a.button {
  display: inline-block;
  margin: 24px 0 12px;
  padding: 17px 40px;
  border-radius: 4px;
  /* color: #ffffff !important; */
  background-color: var(--primary);
  margin-right: 35px;
  &.cancel {
    background-color: white;
    color: var(--primary) !important;
  }
}
.align-right {
  text-align: right;
}
.error {
  border: 1px solid red;
}
.modal-base {
  max-width: initial;
  text-align: inherit;
}
.close-modal {
  right: 25px;
  position: absolute;
  top: 18px;
}
.close-modal:hover {
  cursor: pointer;
}
//////////////////////////////////////
///// Components
//////////////////////////////////////
.filter-wrapper {
  padding: 10px;
}
.colored-header {
  width: 100%;
  height: 42px;
  background: var(--main-gradient);
  justify-content: space-between;
  align-items: center;
  border-radius: 10px 10px 0 0;
  padding: 0;
  .header-currency-filter {
    align-items: center;
    .v-autocomplete {
      max-width: 100px;
      border: 1px solid white;
      ::v-deep {
        .v-input__control {
          min-height: 35px;
          .v-input__slot {
            background-color: #42a3be;
            font-size: 12px;
            padding: 0;
            padding-left: 5px;
            .v-select__slot {
              input {
                color: white;
                text-transform: capitalize;
                padding: 0;
              }
            }

            .v-label {
              color: white;
              font-size: 13px;
            }
            .v-icon {
              font-size: 25px;
              color: white;
            }
          }
        }
      }
    }

    .deals-table-filter {
      position: relative;
      .sort-icon {
        margin-right: 15px;
        margin-left: 25px;
        cursor: pointer;
        padding: 0 10px;
      }

      .sort-container {
        position: absolute;
        box-shadow: 0px 6px 10px rgb(195 196 198 / 60%);
        width: 200px;
        right: 5px;
        top: 35px;
        border-radius: 10px;
        display: flex;
        flex-flow: column;
        background: var(--main-gradient);
        z-index: 1000;

        .sort-title {
          height: 40px;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding-left: 20px;
          width: 100%;
          color: white;
          font-size: 14px;
        }
        .sort-content {
          border-bottom-right-radius: 8px;
          border-bottom-left-radius: 8px;

          padding: 10px 20px;
          background: white;
          .sort-name {
            color: #253242;
            font-size: 12px;
            font-weight: 600;
          }
          .v-input--selection-controls {
            margin-top: 0px;
            padding-top: 0;
            ::v-deep {
              .v-input__slot {
                margin-bottom: 0;
                margin: 0;
                .v-label {
                  color: #253242;
                  font-size: 12px;
                }
                .v-icon {
                  font-size: 20px;
                }
                .v-input--radio-group__input {
                  .v-radio {
                    margin: 4px 0;
                  }
                }
              }
              .v-messages.theme--light {
                min-height: 8px;
              }
            }
          }
        }
      }
    }
  }
}
.colored-header h5 {
  font-size: 14px;
  font-weight: 700;
  color: white;
  margin: 0 0 0 15px;
}

//////////////////////////////////////
///// Layout
//////////////////////////////////////

//////////////////////////////////////
///// Table
//////////////////////////////////////
.tableWrap {
  height: 100%;
  max-height: calc(100% - 104px);
  max-width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  tbody {
    tr {
      cursor: pointer;
    }
  }
}
table {
  width: 100%;
  td {
    padding: 8px;
    font-size: 12px;
    white-space: nowrap;
  }
  thead {
    tr {
      position: sticky;
      top: 0;
    }
    td {
      background-color: #f3f7fc;
      font-weight: 700;
      padding: 8px;
    }
  }
  tbody {
    padding-bottom: 10px;
    tr {
      &:nth-child(odd) {
        background-color: #fafafa;
      }
      &:hover {
        background-color: #f3f7fb;
      }
    }
  }
  td:first-child,
  td:last-child {
    padding: 0 20px;
  }
}
//////////////////////////////////////
///// Scrollbar on table
//////////////////////////////////////
.tableWrap::-webkit-scrollbar-track {
  background: #ffffff;
  margin-bottom: 10px;
}
.tableWrap::-webkit-scrollbar-thumb {
  background: #b6c3d1;
}

//////////////////////////////////////
///// Statuses
//////////////////////////////////////
.status-indicator {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  display: inline-block;
  margin-right: 5px;
}
.status-indicator.live {
  background-color: #4289da;
}
.status-indicator.closed {
  background-color: #f61c0d;
}
.status-indicator.not_started {
  background-color: #ffe15a;
}
.status-indicator.in_progress {
  background-color: #4fc1e0;
}
.status-indicator.started {
  background-color: #76e150;
}
.status-indicator.complete {
  background-color: #76e150;
}
.status-indicator.accepted {
  background-color: #4289da;
}

@media screen and (max-width: 900px) {
  .filter-wrapper {
    overflow-x: auto;
    ::v-deep {
      .filter-input-content {
        width: fit-content;
        .v-autocomplete {
          width: 100px;
        }
        button {
          width: 80px;
        }
      }
    }
  }
}
